---
http_interactions:
- request:
    method: get
    uri: http://stream.reliveradio.de:8000/json.xsl?Technik
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"Copyright":"icemaster@localhost","Location":"Earth","total_listeners":"35","mounts":[{"mount":"/24.mp3","server_name":"ReliveRadio
        Mix","listeners":"20","description":"Podcasts rund um die Uhr!","title":"
        - ","genre":"Mix - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/24mobile.mp3","server_name":"ReliveRadio
        Mix","listeners":"1","description":"Podcasts rund um die Uhr!","title":" -
        ","genre":"Mix - Mobile","bitrate":"48","url":"http://reliveradio.de"},{"mount":"/kultur.mp3","server_name":"ReliveRadio
        Kultur","listeners":"9","description":"Kultur-Podcasts rund um die Uhr!","title":"Hoaxilla
        - Special 7: Interview Daniel Graves","genre":"Kultur - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/kulturmobile.mp3","server_name":"ReliveRadio
        Kultur","listeners":"0","description":"Kultur-Podcasts rund um die Uhr!","title":"Hoaxilla
        - Special 7: Interview Daniel Graves","genre":"Kultur - Mobile","bitrate":"48","url":"http://reliveradio.de"},{"mount":"/technik.mp3","server_name":"ReliveRadio
        Technik","listeners":"5","description":"Technik-Podcasts rund um die Uhr!","title":"Abends
        in der Kreativwirtschaft - Folge 33: Pidoco, Startups und Software as a Service","genre":"Technik
        - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/technikmobile.mp3","server_name":"ReliveRadio
        Technik","listeners":"0","description":"Kultur-Podcasts rund um die Uhr!","title":"Abends
        in der Kreativwirtschaft - Folge 33: Pidoco, Startups und Software as a Service","genre":"Technik
        - Mobile","bitrate":"48","url":"http://reliveradio.de"}]}'
  recorded_at: Sat, 28 Sep 2013 09:22:48 GMT
recorded_with: VCR 2.5.0
