---
http_interactions:
- request:
    method: get
    uri: http://newapi.reliveradio.de/api/upcoming-info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-08-14 15:33:48","utc_from":"2013-08-14 13:33:48","num":25,"AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"K\u00fcchenessenz","track_title":"Folge
        5: Spargel","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":"2013
        Creative Commons Attribution 3.0 Germany","subject":null,"contributor":null,"language":null,"starts":"2013-08-14
        13:00:52","ends":"2013-08-14 13:43:52","starts_locale":"2013-08-14 15:00:52","ends_locale":"2013-08-14
        15:43:52"},{"artist_name":"K\u00fcchenessenz","track_title":"Folge
        5: Spargel","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":"2013
        Creative Commons Attribution 3.0 Germany","subject":null,"contributor":null,"language":null,"starts":"2013-08-14
        13:43:52","ends":"2013-08-14 13:50:57","starts_locale":"2013-08-14 15:43:52","ends_locale":"2013-08-14
        15:50:57"},{"artist_name":"ABSradio","track_title":"Folge 5: Z[...]
