---
http_interactions:
- request:
    method: get
    uri: http://newapi.reliveradio.de/api/upcoming-info?num=45
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-09-28 11:22:28","utc_from":"2013-09-28 09:22:28","num":"45","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"ABSradio","track_title":"Folge
        3: Der Veganer ist hAppy","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        08:07:12","ends":"2013-09-28 10:31:21","starts_locale":"2013-09-28 10:07:12","ends_locale":"2013-09-28
        12:31:21"},{"artist_name":"piratte looking at things","track_title":"Folge
        9: Pausenclown","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":"2013
        Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Germany","subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        10:31:21","ends":"2013-09-28 10:45:17","starts_locale":"2013-09-28 12:31:21","ends_locale":"2013-09-28
        12:45:17"},{"artist_name"[...]
