---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-04 09:41:24","utc_from":"2013-11-04 08:41:24","num":25,"AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"M\u00e4nnerabend","track_title":"Folge
        19: German Craft Beer Ipas","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-11-04
        06:10:47.178736","ends":"2013-11-04 09:15:36.978736","starts_locale":"2013-11-04
        07:10:47","ends_locale":"2013-11-04 10:15:36"},{"artist_name":"jingle","track_title":"Jingle
        Support - 3","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-11-04
        09:15:36.978736","ends":"2013-11-04 09:16:30.138578","starts_locale":"2013-11-04
        10:15:36","ends_locale":"2013-11-04 10:16:30"},{"artist_name":"Wrestling Diaries","track_title":"Special:
        #IRBFGSeries \u2013 Dennis vs. Sven vs[...]
