---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2014-02-13 11:37:23","utc_from":"2014-02-13 10:37:23","num":"15","AIRTIME_API_VERSION":"1.1","files":[]}'
  recorded_at: Thu, 13 Feb 2014 10:37:14 GMT
recorded_with: VCR 2.8.0
