---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-04 09:41:22","utc_from":"2013-11-04 08:41:22","num":"50","AIRTIME_API_VERSION":"1.1","files":[]}'
  recorded_at: Mon, 04 Nov 2013 08:40:00 GMT
recorded_with: VCR 2.5.0
