---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-09 16:45:20","utc_from":"2013-11-09 15:45:20","num":"15","AIRTIME_API_VERSION":"1.1","files":[]}'
  recorded_at: Sat, 09 Nov 2013 15:45:00 GMT
recorded_with: VCR 2.6.0
