---
http_interactions:
- request:
    method: get
    uri: http://newapi.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-09-28 11:10:17","utc_from":"2013-09-28 09:10:17","num":"15","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"ABSradio","track_title":"Folge 1: Alles auf Anfang","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        15:06:30","ends":"2013-09-28 16:39:08","starts_locale":"2013-09-28 17:06:30","ends_locale":"2013-09-28
        18:39:08"},{"artist_name":"Sternengeschichten","track_title":"Folge 9: Immer
        um den Stern herum: Das Sonnensystem im Computer","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        16:39:08","ends":"2013-09-28 16:48:22","starts_locale":"2013-09-28 18:39:08","ends_locale":"2013-09-28
        18:48:22"},{"artist_name":"Metrolaut","track_title":"Folge 13: Pi[...]
