---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-07 21:02:33","utc_from":"2013-11-07 20:02:33","num":"50","AIRTIME_API_VERSION":"1.1","files":[]}'
  recorded_at: Thu, 07 Nov 2013 20:02:00 GMT
recorded_with: VCR 2.5.0
