---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-07 21:02:34","utc_from":"2013-11-07 20:02:34","num":"50","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"Stammtischphilosophen","track_title":"Folge
        59: New York, Rio, Eichenb\u00fchl","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-11-07
        19:39:42.663208","ends":"2013-11-07 21:28:51.163208","starts_locale":"2013-11-07
        20:39:42","ends_locale":"2013-11-07 22:28:51"},{"artist_name":"jingle","track_title":"Jingle
        Support - 2","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-11-07
        21:28:51.163208","ends":"2013-11-07 21:29:30.927902","starts_locale":"2013-11-07
        22:28:51","ends_locale":"2013-11-07 22:29:30"},{"artist_name":"Krimikiste","track_title":"Folge
        1019: Roman Voosen, Kerstin Danielsson - Rotwild[...]
