---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-11-04 09:41:22","utc_from":"2013-11-04 08:41:22","num":"50","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"Herrenabend","track_title":"Die
        Folge 009","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":"2013
        Creative Commons Attribution 3.0 Germany","subject":null,"contributor":null,"language":null,"starts":"2013-11-04
        11:09:20.858262","ends":"2013-11-04 12:20:06.358262","starts_locale":"2013-11-04
        12:09:20","ends_locale":"2013-11-04 13:20:06"},{"artist_name":"jingle","track_title":"Jingle
        Support - 3","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-11-04
        12:20:06.358262","ends":"2013-11-04 12:20:59.518104","starts_locale":"2013-11-04
        13:20:06","ends_locale":"2013-11-04 13:20:59"},{"artist_name":"Ganz einfach
        leben Podcast","track_title":"Folge 34: Gespraech mit Daniel","comme[...]
