---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2014-02-13 11:37:22","utc_from":"2014-02-13 10:37:22","num":"15","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"jingle","track_title":"Jingle
        Allgemein - Bus","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2014-02-13
        12:45:53.930342","ends":"2014-02-13 12:46:31.473018","starts_locale":"2014-02-13
        13:45:53","ends_locale":"2014-02-13 13:46:31"},{"artist_name":"apfelklatsch","track_title":"Folge
        110: Tai Ginseng","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2014-02-13
        12:46:31.473018","ends":"2014-02-13 14:00:53.473018","starts_locale":"2014-02-13
        13:46:31","ends_locale":"2014-02-13 15:00:53"},{"artist_name":"jingle","track_title":"Jingle
        Support - 4","comments":null,"year":null,[...]
