---
http_interactions:
- request:
    method: get
    uri: http://newapi.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-09-28 11:22:29","utc_from":"2013-09-28 09:22:29","num":"15","AIRTIME_API_VERSION":"1.1","files":[]}'
  recorded_at: Sat, 28 Sep 2013 09:22:48 GMT
recorded_with: VCR 2.5.0
