---
http_interactions:
- request:
    method: get
    uri: http://mixzentrale.reliveradio.de/api/upcoming-info?num=105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2014-02-13 11:37:24","utc_from":"2014-02-13 10:37:24","num":"105","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"WRINT:
        Flaschen","track_title":"Frau Diener verreist nach Schottland","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2014-02-13
        09:23:51.052339","ends":"2014-02-13 10:59:22.352339","starts_locale":"2014-02-13
        10:23:51","ends_locale":"2014-02-13 11:59:22"},{"artist_name":"jingle","track_title":"Jingle
        Allgemein - Bus","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2014-02-13
        10:59:22.352339","ends":"2014-02-13 10:59:59.895015","starts_locale":"2014-02-13
        11:59:22","ends_locale":"2014-02-13 11:59:59"},{"artist_name":"Radio Bastard","track_title":"Folge
        813: Rumfackeln im Sturm","comments":null[...]
