---
http_interactions:
- request:
    method: get
    uri: http://stream.reliveradio.de:8000/json.xsl?Kultur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"Copyright":"icemaster@localhost","Location":"Earth","total_listeners":"35","mounts":[{"mount":"/24.mp3","server_name":"ReliveRadio
        Mix","listeners":"20","description":"Podcasts rund um die Uhr!","title":"
        - ","genre":"Mix - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/24mobile.mp3","server_name":"ReliveRadio
        Mix","listeners":"1","description":"Podcasts rund um die Uhr!","title":" -
        ","genre":"Mix - Mobile","bitrate":"48","url":"http://reliveradio.de"},{"mount":"/kultur.mp3","server_name":"ReliveRadio
        Kultur","listeners":"9","description":"Kultur-Podcasts rund um die Uhr!","title":"Hoaxilla
        - Special 7: Interview Daniel Graves","genre":"Kultur - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/kulturmobile.mp3","server_name":"ReliveRadio
        Kultur","listeners":"0","description":"Kultur-Podcasts rund um die Uhr!","title":"Hoaxilla
        - Special 7: Interview Daniel Graves","genre":"Kultur - Mobile","bitrate":"48","url":"http://reliveradio.de"},{"mount":"/technik.mp3","server_name":"ReliveRadio
        Technik","listeners":"5","description":"Technik-Podcasts rund um die Uhr!","title":"Abends
        in der Kreativwirtschaft - Folge 33: Pidoco, Startups und Software as a Service","genre":"Technik
        - Desktop","bitrate":"128","url":"http://reliveradio.de"},{"mount":"/technikmobile.mp3","server_name":"ReliveRadio
        Technik","listeners":"0","description":"Kultur-Podcasts rund um die Uhr!","title":"Abends
        in der Kreativwirtschaft - Folge 33: Pidoco, Startups und Software as a Service","genre":"Technik
        - Mobile","bitrate":"48","url":"http://reliveradio.de"}]}'
  recorded_at: Sat, 28 Sep 2013 09:22:48 GMT
- request:
    method: get
    uri: http://hoersuppe.de/api/?action=getLive&dateEnd=2013-09-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pingback:
      - http://hoersuppe.de/xmlrpc.php
      Last-Modified:
      - Sat, 28 Sep 2013 09:22:25 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":1,"msg":"ok","data":[{"id":"4858","podcast":"quasselstrippen","state":"1","type":"0","synced":"1","title":"Quasselstrippen","url":"http:\/\/die-quasselstrippen.de\/","streamurl":"http:\/\/streams.xenim.de\/quasselstrippen.mp3.m3u","livedate":"2013-09-28
        11:00:00","duration":"120","twittered":"1"},{"id":"3265","podcast":"dradio-online-talk","state":"1","type":"0","synced":"1","title":"DRadio
        Wissen Online Talk","url":"http:\/\/wissen.dradio.de\/online-talk.125.de.html","streamurl":"http:\/\/www.dradio.de\/streaming\/dradiowissen.m3u","livedate":"2013-09-28
        11:00:00","duration":"60","twittered":"1"},{"id":"5344","podcast":"raidenger","state":"1","type":"0","synced":"1","title":"Raidenger","url":"http:\/\/raidenger.de\/","streamurl":"http:\/\/176.28.50.139:8000\/high","[...]
- request:
    method: get
    uri: http://newapi.reliveradio.de/api/upcoming-info?num=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":"2013-09-28 11:22:25","utc_from":"2013-09-28 09:22:25","num":"15","AIRTIME_API_VERSION":"1.1","files":[{"artist_name":"ABSradio","track_title":"Folge
        3: Der Veganer ist hAppy","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":null,"subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        08:07:12","ends":"2013-09-28 10:31:21","starts_locale":"2013-09-28 10:07:12","ends_locale":"2013-09-28
        12:31:21"},{"artist_name":"piratte looking at things","track_title":"Folge
        9: Pausenclown","comments":null,"year":null,"url":null,"info_url":null,"artist_url":null,"copyright":"2013
        Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Germany","subject":null,"contributor":null,"language":null,"starts":"2013-09-28
        10:31:21","ends":"2013-09-28 10:45:17","starts_locale":"2013-09-28 12:31:21","ends_locale":"2013-09-28
        12:45:17"},{"artist_name"[...]
