<div class="ribboncontainer2 hide-for-small"><div class="ribbon2"><div class="ribbon2-stitches-top"></div><div class="ribbon2-content"><h1><i class="icon-arrow-down"></i> Nächste Podcasts <i class="icon-arrow-down"></i></h1></div><div class="ribbon2-stitches-bottom"></div></div></div>

<% if !@episodes.blank? %>
	<!-- SHOW ALL UPCOMING PODCASTS -->
	<% @episodes.each do |episode| %>
		<% podcast = episode["db"] %>
		<%= render 'single_episode', :podcast => podcast, :episode => episode %>
	<% end %>
<% end %>