<div class="panel">
	<h4>Spenden</h4>
	<p>Dieses Projekt gefällt dir? Du kannst uns <a href="http://blog.reliveradio.de/mitmachen/">hier unterstützen</a> oder dich durch eine Spende an den Serverkosten beteiligen. Danke <i class="icon-heart"></i></p>
	<a class="FlattrButton" style="display:none;"
	title="ReliveRadio"
	data-flattr-uid="germanstudent"
	data-flattr-tags="text, opensource"
	data-flattr-category="text"
	href="http://www.reliveradio.de">

	ReliveRadio
	</a>
</div>