<div class="panel">
	<h4>Unterstützen</h4>
	<p>Dieses Projekt gefällt dir? Du kannst uns <%= link_to "hier unterstützen", help_url %> oder einfach kurz flattrn. Danke <i class="icon-heart"></i></p>
	<a class="FlattrButton" style="display:none;"
	title="ReliveRadio"
	data-flattr-uid="germanstudent"
	data-flattr-tags="text, opensource"
	data-flattr-category="text"
	href="http://www.reliveradio.de">

	ReliveRadio
	</a>
</div>