<div class="panel">
	<h4>Livestream</h4>
	<audio id="player" preload="none" src="http://stream.reliveradio.de:8000/24.mp3"></audio>
	<div class="livestreambutton button small success"></div>
	<p>Falls du den Livestream mit einem externen Programm hören willst, dann benutze folgende Stream URLs:</p>
	<ul class="inline-list">
		<li><a href="http://stream.reliveradio.de:8000/24.mp3">mp3-high</a></li>
		<li><a href="http://stream.reliveradio.de:8000/24mobile.mp3">mp3-low</a></li>
	</ul>
</div>
<div class="panel">
	<h4>Spenden</h4>
	<p>Dieses Projekt gefällt dir? Du kannst uns <a href="http://blog.reliveradio.de/mitmachen/">hier unterstützen</a> oder dich durch eine Spende an den Serverkosten beteiligen. Danke <i class="icon-heart"></i></p>
	<a class="FlattrButton" style="display:none;"
	title="ReliveRadio"
	data-flattr-uid="germanstudent"
	data-flattr-tags="text, opensource"
	data-flattr-category="text"
	href="http://www.reliveradio.de">

	ReliveRadio
	</a>
</div>
<!-- HOERSUPPE LIVE PODCASTS -->
<% if !@live_podcasts.blank? %>
	<div class="panel">
		<h4>Mehr Live:</h4>
		<p>Diese Podcasts werden gerade live aufgezeichnet und du kannst zuhören:</p>
		<p>
		<% @live_podcasts.each do |podcast| %>
			<div>
				<a href="<%= podcast['streamurl'] %>"><i class="icon-volume-up"></i> <%= podcast["db"].nil? ? podcast["podcast"] : podcast["db"].name %></a>
			</div>
		<% end %>
		</p>
		<p>Das ist ein Service der <%= link_to "Hörsuppe", "http://hoersuppe.de/now/" %>.</p>
	</div>
<% end %>