<%= stylesheet_link_tag "home" %>
<% title "Index" %>

<div class="row">
	<div class="small-12 columns">
		<h1>Wilkommen beim ReliveRadio</h1>
		<h2 class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, mollitia, deserunt, inventore nobis debitis maxime tempora omnis ab enim culpa quam rerum. Voluptas, laudantium, vel officiis adipisci reiciendis praesentium eos.</p>
	</div>

</div>

<div class="row">
	<div class="large-4 columns">
		<h2 class="genre-header technique">Technik</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, adipisci, eveniet, ratione, ut delectus illum iste nostrum sint nesciunt veritatis explicabo nemo suscipit minus quam sapiente fuga ducimus quaerat consequuntur!</p>
	</div>
	<div class="large-4 columns">
		<h2 class="genre-header culture">Kultur</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, magni, maxime pariatur at repudiandae porro consectetur sed voluptatum sapiente autem eos minima iusto saepe? Ut sed tenetur velit ad ullam.</p>
	</div>
	<div class="large-4 columns">
		<h2 class="genre-header foobar">Foobar</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, cupiditate, cumque asperiores odit sit sunt fugit necessitatibus. Ipsa, fuga, odio, consectetur voluptate a error debitis tenetur cumque dolor architecto sequi.</p>
	</div>
</div>

<% if !@index_info.blank? and @index_info.display %>
<div class="row">
	<div class="large-12 columns">
		<h2><%= @index_info.title %></h2>
		<p><%= raw @index_info.content %></p>
	</div>
</div>
<% end %>