<% title "Sendeplan" %>


<!-- TOPIC -->
<%= render 'topic' %>

<!-- START LIVESTREAM PLAYER BUTTON FOR SMALL DEVICES-->
<div class="row">
	<div class="small-12 columns">
		<div class="livestreambutton button success show-for-small"></div>
	</div>
</div>

<div class="row">
	<!-- EPISODES -->
	<div id="episodes" class="large-9 columns">
		<%= render 'episodes', :episodes => @episodes %>
	</div>
	<!-- SIDEBAR -->
	<div class="large-3 columns">
		<%= render 'sidebar', :live_podcasts => @live_podcasts %>
	</div>
</div>

<!-- LIVESTREAM MEDIAELEMENT PLAYER -->
<%= javascript_include_tag 'livestreamplayer' %>