<h1>Sendeplan</h1>

<% @episodes.each do |episode| %>
	<h2><%= episode['artist_name'] %></h2>
	<p><%= episode['track_title'] %></p>
	<p><%= episode['starts'] %></p>
	<p><%= episode['ends'] %></p>
<% end %>
