<h5>Livestream</h5>
<p>Falls du den Livestream mit einem externen Programm hören willst, dann benutze folgende Stream URLs:</p>
<ul class="inline-list">
	<li><%= link_to "Desktop", desktop_stream_url %></li>
	<li><%= link_to "Mobil", mobil_stream_url %></li>
</ul>