<h5>Livestream</h5>
<p>Falls du den Livestream mit einem externen Programm hören willst, dann benutze folgende Stream URLs:</p>
<ul class="inline-list">
	<li><a href="<%= desktop_stream_url %>"><i class="icon-desktop"></i> Desktop</a></li>
	<li><a href="<%= mobil_stream_url %>"><i class="icon-mobile-phone"></i> Mobil</a></li>
</ul>