@import "color_scheme";

.FlattrButton {
	margin-bottom: 1em;
}

footer {
	background-color: $dark-color;
	color: #fff;
	margin-top: 2em;
}

footer p, footer ul {
	font-weight: 300;
	font-size: 0.8em;
}

footer p {
}

footer h5 {
	color: #fff;
	font-weight: 400;
}

footer .row {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

footer li {
	margin-left: 1.2em;
}