@import "color_scheme";

div.sidebar h5 {
  font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	background-color: $dark-color;
	color: #fff;
	margin-top: 2em;
}

footer p {
	font-weight: 200;
}

footer h5 {
	color: #fff;
}

footer .row {
	padding: 1.5em;
}

footer li {
	margin-left: 2em;
}