$red-color: #DD577A;
$orange-color: #FE5A27;
$blue-color: #49AEC0;
$dark-color: #131723;
$green-color: #1bb266;
$pastel-color: lighten(#eeeedd, 5%);

$ribbon-color: $blue-color;

$technique-color: $blue-color;
$culture-color: $orange-color;
$mix-color: $green-color;