// set some colors
$red-color: #DD577A;
$orange-color: #FE5A27;
$blue-color: #49AEC0;
$dark-color: #131723;
$green-color: rgb(134,186,0);
$pastel-color: lighten(#eeeedd, 5%);

// define genre specific colors here
$technique-color: $blue-color;
$culture-color: $orange-color;
$mix-color: $green-color;