// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row div.episode {

}

div.row div.live {
	// border: 5px solid red;
	// border-radius: 5px;
	margin-bottom: 1em;
}

#livebar {
	color: #fff;
	border-top: solid 3px darken(#5da423, 10%);
	background: #5da423;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

#upcoming {
	color: #fff;
	border-top: solid 3px darken(#2ba6cb, 10%);
	background: #2ba6cb;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.playtime-small {
	font-size: 0.7em;
}

.playtime-large {
	font-size: 0.9em;
}

div.time-info {
	margin: 5px 0 5px 0;
}

.mejs-container {
	display: none;
}