// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row div.episode {

}

div.row div.live {
	// border: 5px solid red;
	// border-radius: 5px;
	margin-bottom: 1em;
	background: #FFF9D1;
	padding: 1em 0 1em 0;
}

#livebar {
	float: right;
	color: #fff;
	background: #FF4C24;
	padding: 0.8em;
	text-shadow: 0px 1px 1px #000;
}

.playtime-small {
	font-size: 0.7em;
}

.playtime-large {
	font-size: 0.9em;
}

div.time-info {
	margin: 5px 0 5px 0;
}

.mejs-container {
	display: none;
}