// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row div.team {
	margin-bottom: 1em;
}

img.download_element_image {
	width: 100%;
	margin-bottom: 0.8em;
}
.panel.callout a.button {
	color: black;
}