// Place all the styles related to the Podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.podcast {
	margin-bottom: 2em;
}

div.datafield {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

div.buttonbar {
	margin-top: 1em;
}

div.center {
	text-align: center;
}

#searchbar {
	margin-bottom: 2em;
}