// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.progress {
	margin-bottom: 0;
}

img.logo {
	margin-bottom: 1.3em;
}

div.logo-container {
	text-align: center;
}

img.episode-image {
	margin-bottom: 1em;
}

#live-episode-image {
	margin-bottom: 0;
}

#stream-selector {
	list-style-type: none;
	margin: 0;
}

#stream-selector a {
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 300;
	color: #444;
	padding: 0 10px;
	display: block;
}

#stream-selector a.technique:hover {
	background-color: $technique-color;
}

#stream-selector a.culture:hover {
	background-color: $culture-color;
}

#stream-selector a.mix:hover {
	background-color: $mix-color;
}

#stream-selector a:hover {
	color: #fff;
}

#stream-selector a.technique.active {
	background-color: $technique-color;
	color: #fff;
}

#stream-selector a.culture.active {
	background-color: $culture-color;
	color: #fff;
}

#stream-selector a.mix.active {
	background-color: $mix-color;
	color: #fff;
}

a {
	color: $theme-color;
}

.side-nav li a {
	color: $theme-color;
}

a:hover {
	color: darken($theme-color, 20%);
}

.progress .meter {
	background: $theme-color;
}

h2 {
	margin-top: 0;
	white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;    word-wrap: break-word;
}

#listeners-container {
	text-align: center;
}

.listeners-infotext {
	margin: 0;
}

#listeners {
	font-weight: 200;
	margin: 0;
}


#live-episode > div.episode {
	background-color: $pastel-color;
	border: 1px solid darken($pastel-color, 20%);
}

nav.top-bar {
	margin-bottom: 0;
}

@media only screen and (max-width: 45.063em) {

	h5 {
		font-size: 1em;
		font-weight: normal;
	}

	h2 {
		font-size: 1em;
	}
 }


/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 45.063em) {

	#live-episode > div.episode {
		margin-bottom: 2em;
	}

	.dropshadow {
	  position: relative;
	}
	.dropshadow:before, .dropshadow:after {
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: #777;
	  -webkit-box-shadow: 0 15px 10px #777;
	  -moz-box-shadow: 0 15px 10px #777;
	  box-shadow: 0 15px 10px #777;
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}
	.dropshadow:after{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}

	/*RIBBON FOR EPISODES AVATAR IMAGE TO DISPLAY SPECIAL INFORMATION*/

	.ribbon-wrapper {
		position: relative;
		z-index: 90;
	}

	.ribbon-wrapper-red {
		width: 85px;
		height: 88px;
		overflow: hidden;
		position: absolute;
		top: -3px;
		right: -3px;
	}

	.ribbon-red {
		font: bold 15px;
		color: #333;
		text-align: center;
		//text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform:    rotate(45deg);
		-ms-transform:     rotate(45deg);
		-o-transform:      rotate(45deg);
		position: relative;
		padding: 7px 0;
		left: -5px;
		top: 15px;
		width: 120px;
		background-color: lighten($red-color, 5%);
		background-image: -webkit-gradient(linear, left top, left bottom, from(lighten($red-color, 5%)), to($red-color)); 
		background-image: -webkit-linear-gradient(top, lighten($red-color, 5%), $red-color); 
		background-image:    -moz-linear-gradient(top, lighten($red-color, 5%), $red-color); 
		background-image:     -ms-linear-gradient(top, lighten($red-color, 5%), $red-color); 
		background-image:      -o-linear-gradient(top, lighten($red-color, 5%), $red-color); 
		color: #fff;
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
		-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.5);
		box-shadow:         0px 0px 3px rgba(0,0,0,0.5);
	}

	.ribbon-red:before, .ribbon-red:after {
		content: "";
		border-top:   3px solid $red-color;   
		border-left:  3px solid transparent;
		border-right: 3px solid transparent;
		position:absolute;
		bottom: -3px;
	}

	.ribbon-red:before {
		left: 0;
	}
	.ribbon-red:after {
		right: 0;
	}

}


#live-banner {
	background-color: $theme-color;
	color: #fff;
	padding: 0.2em 1em 0.2em 1em;
	text-align: center;
	border-bottom: 1px solid #fff;
}





// LIVESTREAMBUTTON
.off {
	text-shadow: 0 -1px 0 darken($dark-color, 10%);
	background: $dark-color;
}

.on {
	background: $red-color;
	text-shadow: 0 -1px 0 darken($red-color, 10%);
}

.livestreambutton {
	color: #fff;
	letter-spacing: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 1em;
	border-radius: 3px;
	display: block;
	margin: 1em 0 1em 0;
}

.livestreambutton:hover {
	cursor: hand; cursor: pointer;
}








div.live div.row {
	margin-bottom: 0;
}

div.row {
	// border: 5px solid red;
	// border-radius: 5px;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}

.playtime-small {
	font-size: 0.7em;
}

.playtime-large {
	font-size: 0.9em;
}

div.time-info {
	margin: 5px 0 5px 0;
}

.mejs-container {
	display: none;
}



div.upcoming {
	background-color: $theme-color;
	color: #fff;
	text-align: center;
	padding: 1em;
	text-transform: uppercase;
}