// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NAVITAGION
nav.top-bar {
	margin-bottom: 0;
}

div.progress {
	margin-bottom: 0;
img.logo {
	margin-bottom: 1.3em;
}

div.logo-container {
	text-align: center;
}
}

#stream-selector {
	list-style-type: none;
	margin-top: 1.3em;
}

#stream-selector a {
	text-decoration: none;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 1.8em;
	color: #444;
	padding: 0 10px;
	display: block;
}

#stream-selector a.technique:hover {
	background-color: $technique-color;
}

#stream-selector a.culture:hover {
	background-color: $culture-color;
}

#stream-selector a:hover {
	color: #fff;
}

#stream-selector a.technique.active {
	background-color: $technique-color;
	color: #fff;
}

#stream-selector a.culture.active {
	background-color: $culture-color;
	color: #fff;
}

a {
	color: $theme-color;
}

a:hover {
	color: darken($theme-color, 20%);
}

.progress .meter {
	background: $theme-color;
}







// LIVESTREAMBUTTON
.off {
	// text-shadow: 0 -1px 0 #6ebf17;
	text-shadow: none;
	background: #66b115;
}

.on {
	background: #f67c1a;
	text-shadow: none;
	// text-shadow: 0 -1px 0 #6ebf17;
}

.livestreambutton {
	color: #fff;
	letter-spacing: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 1em;
	margin-top: 4em;
	border-radius: 3px;
}

.livestreambutton:hover {
	cursor: hand; cursor: pointer;
}








div.live div.row {
	margin-bottom: 0;
}

div.row {
	// border: 5px solid red;
	// border-radius: 5px;
	margin-bottom: 1em;
	padding: 1em 0 1em 0;
}

.playtime-small {
	font-size: 0.7em;
}

.playtime-large {
	font-size: 0.9em;
}

div.time-info {
	margin: 5px 0 5px 0;
}

.mejs-container {
	display: none;
}






div.upcoming {
	background-color: $theme-color;
	color: #fff;
	text-align: center;
	padding: 1em;
}

div.ribboncontainer {
	height: 5em;
}

.ribbon {
	width: 100%;
	position: absolute;
	text-align: center;
	background: $theme-color;
}
.ribbon h1 {
	font-size: 1.2em;
	font-weight: 300;
	color: #fff;
	margin:0px;
	padding: 10px 10px 10px 10px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	border-color: darken($theme-color, 15%) transparent transparent transparent;
	position: absolute;
	display: block;
	border-style: solid;
	bottom: 2.9em;
	content: '';
}
.ribbon .ribbon-content:before {
	right: 0;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	border-width: 0.5em 0 0 1em;
}
.ribbon .ribbon-content:after {
	left: 0;
		-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	border-width: 0.5em 1em 0 0;
}