<div class="row">
    <div class="large-12 columns">
        <h1>Alle Podcasts</h1>
        <h4 class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae dolorum fugiat ratione nisi consectetur dolores sunt voluptatibus suscipit inventore delectus cumque eligendi alias animi mollitia! Illum quaerat velit ab.</h4>
        <hr />
    </div>
</div>

<% toggle = 0 %>
<% @podcasts.each do |podcast| %>
    <% if toggle%3 == 0 %>
        <div class="row podcast">
    <% end %>

      <div class="large-4 columns">

        <img src="http://reliveradio.de/podcasts/logos/<%= podcast.slugintern %>.jpg">
        <h2 class="subheader breaklines"><%= link_to podcast.name, info_url(:slugintern => podcast.slugintern) %></h2>
        <p><%= podcast.description %></p>
      
      </div>
    <% if toggle%3 == 2 %>
        </div>
    <% end %>
    <% toggle = toggle + 1 %>
<% end %>


