<div class="row">
	<div class="large-9 columns">
		<h1>Was ist das ReliveRadio?</h1>
		<h4 class="subheader">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen.</h4>

		<h2>Motivation</h2>
		<p>Zum einen, möchten wir mit dem ReliveRadio Menschen erreichen, die sich erst wenig oder gar nicht mit dem Format Podcast beschäftigt haben und so eine niederschwellige Einstiegsmöglichkeit bieten. Zum anderen soll das ReliveRadio aber auch Hörern die Gelegenheit geben, neue Podcastformate kennen zu lernen. Ansonsten möchten wir dazu beitragen, dass Podcasts auch mit geringer Bandbreite jederzeit auf dem Smartphone, dem Smart-TV, im Auto oder auf anderen Geräten gehört werden können.</p>

		<h2>Team</h2>
		<h4 class="subheader">Markus</h4>
		<table>
			<tr>
				<td>Info:</td>
				<td>Legt Sendepläne fest, kommuniziert mit Hörern und Podcastern, nimmt neue Podcasts auf, verwaltet das System, Initiator des Projekts und der Schuldige, wenn etwas nicht funktioniert.</td>
			</tr>
			<tr>
				<td>App.net</td>
				<td><a href="https://alpha.app.net/germanstudent" target="_blank">@germanstudent</a></td>
			</tr>
			<tr>
				<td>Twitter</td>
				<td><a href="https://twitter.com/germanstudent" target="_blank">@germanstudent</a></td>
			</tr>
			<tr>
				<td>Flattr</td>
				<td><a href="http://flattr.com/profile/germanstudent" target="_blank">germanstudent</a></td>
			</tr>			
		</table>

		<h4 class="subheader">Stefan</h4>
		<table>
			<tr>
				<td>Info:</td>
				<td>Gestaltet und programmiert die Homepage des ReliveRadios, erfindet tolle, neue Features und setzt diese um.</td>
			</tr>
			<tr>
				<td>App.net</td>
				<td><a href="https://alpha.app.net/i42n" target="_blank">@i42n</a></td>
			</tr>
			<tr>
				<td>Twitter</td>
				<td><a href="https://twitter.com/i42n" target="_blank">@i42n</a></td>
			</tr>
			<tr>
				<td>Flattr</td>
				<td><a href="http://flattr.com/profile/i42n" target="_blank">i42n</a></td>
			</tr>				
		</table>

		<h4 class="subheader">Du!</h4>
		<p>Lust und zu unterstützen? Schau doch mal <%= link_to 'hier', help_url %> vorbei.</p>


		<h2>Hintergrund</h2>
		<h4 class="subheader">Die ersten Schritte</h4>
		<p>Ende 2012 dachte sich Markus, es wäre doch schön, wenn es ein Internetradio gäbe, welches rund um die Uhr deutschsprachige Podcastformate sendet. Nach Prüfung der Umsetzbarkeit und Anmietung eines Servers startete der Sendebetrieb Mitte Oktober 2012. Zu diesem Zeitpunkt noch nicht unter dem Namen ReliveRadio, dieser wurde in einer VoIP Brainstorming Session mit mehreren Podcastern gefunden.</p>
		<p>Sehr erfreulich war, dass die zuerst angeschriebenen Podcaster allesamt Lust hatten, ihr Format für das Experiment "Podcastradio" beizusteuern.</p>
		<h4 class="subheader">Grundlegendes</h4>
		<p>Anfänglich hatte die Aufnahme neuer Podcasts priorität, doch schnell kam der Wunsch nach erweiterter Funktionalität auf. Nette Menschen, wie <a href="http://hoersuppe.de" target="_blank">Christian</a>, der den ApiController der Radioautomation umschrieb oder <a href="https://twitter.com/frackerfracken" target="_blank">fracker</a>, der einen Twitter Bot zur Sendungsankündigung programmierte, haben ganz wesentlich dabei geholfen, das ReliveRadio zu dem zu machen, was es heute ist.
			<h4 class="subheader">Aufnahme in Verzeichnisse</h4>
			<p>Der nächste wichtige Schritt, war die Aufnahme in Online-Radioverzeichnisse, sodass Hörer in der Lage sind, über möglichst viele, verschiedene Geräte wie <a href="http://blog.reliveradio.de/2013/02/das-reliveradio-jetzt-auf-vielen-wlan-radios/" target="_blank">WLAN-Radios</a> oder <a href="http://blog.reliveradio.de/2013/02/reliveradio-im-itunes-radio-verzeichnis/" target="_blank">Apple Hardware</a> einzuschalten.</p>
			<h4 class="subheader">Die Seite</h4>
			<p>Lange Zeit gab es nur eine rudimentäre Seite, auf der einfach das geplante Programm und die teilnehmenden Podcasts aufgelistet waren. Das änderte sich, als Stefan das ReliveRadio Team bereicherte. Was zuerst schon ein schöner PHP Sendeplan war, <a href="http://blog.reliveradio.de/2013/03/das-reliveradio-im-neuen-gewand/" target="_blank">wurde</a> schnell zu einer dynamisch, schicken Homepage, basierend auf Rails, die dank Stefan auch weiter mit tollen Funktionen erweitert wird. (z.B. Beschreibungen der Podcasts, Hörsuppe Integration, Übersicht teilnehmender Podcasts und vieles mehr)</p>

			<h4>Wie kann ich helfen?</h4>

			<p>Dazu gibt es <%= link_to 'hier', help_url %> mehr Informationen.</p>
	</div>
	<div class="large-3 columns">
		<%= render 'home/help_widget' %>
		<%= render 'home/chat_widget' %>
	</div>
</div>
