<div class="row">
	<div class="large-9 columns">
		<h1>Was ist das ReliveRadio?</h1>
		<h4 class="subheader">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen. </h4>

		<p>Der "Sendebetrieb" begann erst Mitte Oktober 2012, weshalb sich das Projekt noch in einer experimentellen Anfangsphase befindet. Der Radiostream lief seitdem jedoch nahezu unterbrechungsfrei.</p>

		<h4>Motivation</h4>

		<ul>
			<li>Menschen erreichen, die sich erst wenig oder gar nicht mit dem Format Podcast beschäftigt haben und somit eine niederschwellige Einstiegsmöglichkeit bieten.</li>
			<li>Podcast-Interessierten die Möglichkeit bieten, neue Formate zu entdecken.</li>
			<li>Podcasts auch auf dem Smart TV, im Autoradio, bei geringer Bandbreite usw. hören.</li>
		</ul>

		<h1>Wie kann ich helfen?</h1>
		<h4 class="subheader">Du möchtest dich in das Projekt einbringen? Super! \o/</h4>

		<h4>Podcaster?</h4>

		<p>Podcast einreichen: Kurzer Tweet oder eine Mail an Markus. Wir freuen uns über jeden neuen Podcast, der auf dem Radio abgespielt werden darf.</p>
		<p>Spread the message. Erzählt euren Hörern von den Projekt. Schreibt vielleicht sogar einen kleinen Artikel. Bei Fragen einfach melden.</p>

		<h4>Du kannst Programmieren?</h4>

		<p>Es gibt noch einige Ideen, die nur mit ein wenig Coding-Erfahrung umgesetzt werden können.</p>

		<h4>Und sonst?</h4>

		<p>Einfach weitersagen, wenn euch das ReliveRadio gefällt.</p>
	</div>
	<div class="large-3 columns">
		<%= render 'home/flattr_widget' %>
		<%= render 'home/chat_widget' %>
	</div>
</div>
