<div class="row">
	<div class="large-9 columns">
		<h1>Was ist das ReliveRadio?</h1>
		<h4 class="subheader">Das ReliveRadio sendet rund um die Uhr Podcastformate aus ganz verschiedenen Themenbereichen. </h4>

		<p>Der "Sendebetrieb" begann erst Mitte Oktober 2012, weshalb sich das Projekt noch in einer experimentellen Anfangsphase befindet. Der Radiostream lief seitdem jedoch nahezu unterbrechungsfrei.</p>

		<h4>Motivation</h4>

		<ul>
			<li>Menschen erreichen, die sich erst wenig oder gar nicht mit dem Format Podcast beschäftigt haben und somit eine niederschwellige Einstiegsmöglichkeit bieten.</li>
			<li>Podcast-Interessierten die Möglichkeit bieten, neue Formate zu entdecken.</li>
			<li>Podcasts auch auf dem Smart TV, im Autoradio, bei geringer Bandbreite usw. hören.</li>
		</ul>

		<h1>Wie kann ich helfen?</h1>
		
		<p>Dazu gibt es <%= link_to 'hier', help_url %> mehr Informationen.</p>
	</div>
	<div class="large-3 columns">
		<%= render 'home/flattr_widget' %>
		<%= render 'home/chat_widget' %>
	</div>
</div>
