<div class="row">
	<div class="small-12 columns">
		<h1>Chat</h1>
		<h4 class="subheader">Hier kannst du dich mit anderen Hörern austauschen oder Fragen direkt an uns stellen.</h4>

		<iframe src="http://webchat.freenode.net/?channels=reliveradio" width="100%" height="400"></iframe>
		
	</div>
</div>
