<% title "Downloads" %>

<div class="row">
	<div class="small-12 columns">
		<h1>Downloads</h1>
		<p>Das hier ist eine kleine Sammlung all der nützlichen Programme und Tools, die Ihr verwenden könnt, um das ReliveRadio zu hören oder es sogar in eure eigene Webseite einzubetten.</p>

		<h3>Desktop App</h3>
		<p>Wer einen Mac besitzt, der möchte vielleicht einmal unsere Desktop App ausprobieren, mit der sich alle Kanäle des ReliveRadio hören lassen. Auch werden aktuell gespielte Folgen mit Infos immer direkt angezeigt.</p>
		<p><a href="#" class="button">Download</a></p>

		<h3>Xenim App</h3>
		<p>Das ReliveRadio ist mit allen Radio Apps auf Smartphones hörbar, da wir in den Radioverzeichnissen eingetragen sind. Die neuen Kanäle Kultur und Technik sind dort allerdings noch nicht eingetragen. Falls ihr dennoch eine App sucht, um das ReliveRadio zu hören, dann sei euch die <a href="https://itunes.apple.com/de/app/xenim/id478586970?mt=8">Xenim App empfohlen</a>. Damit lassen sich alle Kanäle von überall hören.</p>
		<p><a href="https://itunes.apple.com/de/app/xenim/id478586970?mt=8" class="button">Download</a></p>

		<h3>Eigene App</h3>
		<p>Aktuell entwickelt Florian eine ReliveRadio App. Ihr könnt euch also schon einmal darauf freuen, dass es bald eine eigene App für das ReliveRadio geben wird!</p>


		<h3>Webplayer, Generator</h3>
		<p></p>
		<p><a href="#" class="button">Download</a></p>

		<h3>Wordpress Plugin</h3>
		<p></p>
		<p><a href="#" class="button">Download</a></p>

	</div>
</div>
