<% title "FAQ" %>

<div class="row">
	<div class="small-12 columns">
		<h1>FAQ</h1>
		<h4 class="subheader">Fragen und Antworten</h4>

		<h3><i class="icon-info" style="color: red;"></i> Wie kann ich das ReliveRadio hören?</h3>
		<p>ReliveRadio kann nicht über UKW empfangen werden. Das ist nicht überraschend. Dafür lassen sich unsere Streams aber hervorragend über die Player auf der Website, unsere iOS-App, sowie unsere Web-App, die App unserer Kollegen bei Xenim und mit zahlreichen Web-Radios und Web-Radio-Apps empfangen. Wer also ein Smartphone besitzt, kann sich leicht eine entsprechende App herunterladen [sollte man hier ein oder zwei empfehlenswerte Alternativen für iOS und Android eintragen?] und dort nach "ReliveRadio" suchen. Gleiches gilt für das Web-Radio in deiner Küche. => Verweis auch auf Downloads Seite, da dort die Apps sind</p> 

		<h3><i class="icon-info" style="color: red;"></i> Wieso wird mein Lieblingspodcast nicht bei ReliveRadio gespielt?</h3>
		<p>Das könnte daran liegen, dass sich der Podcast noch nicht in unserem Verzeichnis befindet. Das kannst du hier [Link zum Verzeichnis] überprüfen. Wenn dies der Fall sein sollte, sprich die Produzenten des betreffenden Podcasts doch einfach mal auf ReliveRadio an. Wenn dein Lieblingspodcast dein eigener Podcast ist, schicke uns einfach eine Mail oder einen Tweet, damit wir diesen Missstand aus der Welt schaffen können.</p> 

		<h3><i class="icon-info" style="color: red;"></i> Wie kann ich ReliveRadio helfen?</h3>
		<p>Die einfachste Möglichkeit uns zu helfen, ist Werbung. Wir können natürlich selbst nur begrenzt auf uns aufmerksam machen, aber wenn du heute zwei Freunden von ReliveRadio erzählst und die wiederum tags darauf das selbe tun, deren Freunde natürlich auch… du siehst, worauf das hinaus läuft. Du kannst natürlich auch in deinem Podcast über uns sprechen, einen Blog-Post schreiben, mal über uns twittern, unser Logo mit einem Link oder sogar unseren tragbaren Webplayer zum mitnehmen auf deiner Seite einbinden. Falls du ohnehin einen eigenen Podcast hast, wäre es natürlich auch super, wenn wir den hier spielen dürften. => Verweis auf Unterstützen Seite</p> 

		<h3><i class="icon-info" style="color: red;"></i> Ich habe schon allen von ReliveRadio erzählt, was kann ich noch tun?</h3>
		<p>Die Kosten für unseren Betrieb belaufen sich auf etwa 700€ im Jahr [hier Blogpost zur Bilanz verlinken]. ReliveRadio spielt keine Werbung und wird ausschließlich durch Spenden finanziert. Wir würden uns daher freuen, wenn auch du dich an diesen Kosten beteiligen würdest. Das kannst du per Flattr, Paypal, Sofortüberweisung oder Bitcoin tun. Bei deiner Spende beachte bitte: ReliveRadio ist mindestens so wertvoll wie ein kleines Schnitzel! => Verweis auf Unterstützen Seite</p> 

		<h3><i class="icon-info" style="color: red;"></i> Ich möchte euch aber kein Geld, sondern meine Arbeitskraft schenken. Geht das?</h3>
		<p>Dann hätten wir folgendes Angebot für dich: Wir suchen im Augenblick jemanden, der sich um den Technik-Kanal kümmern möchte. Du müsstest dich dazu natürlich mit Technik-Podcasts auskennen. Wie man Playlists für ReliveRadio erstellt, wird für dich unter diesen Vorraussetzungen ein Klacks sein. Das kann sogar ein Schimpanse in einem Raumanzug!</p> 
		<p>Ausserdem freuen wir uns über fleißige Coder, die bei der Entwicklung unserer Apps, Codesining oder anderen Belangen behilflich sind.</p> 

	</div>
</div>
