<div class="row">
	<div class="large-9 columns">
		<h1>Wie kann ich helfen?</h1>
		<h4 class="subheader">Du möchtest dich in das Projekt einbringen? Super! \o/</h4>

		<h4>Podcaster?</h4>

		<p>Podcast einreichen: Kurzer Tweet oder eine Mail an Markus. Wir freuen uns über jeden neuen Podcast, der auf dem Radio abgespielt werden darf.</p>
		<p>Spread the message. Erzählt euren Hörern von den Projekt. Schreibt vielleicht sogar einen kleinen Artikel. Bei Fragen einfach melden.</p>

		<h4>Du kannst Programmieren?</h4>

		<p>Es gibt noch einige Ideen, die nur mit ein wenig Coding-Erfahrung umgesetzt werden können.</p>

		<h4>Und sonst?</h4>

		<p>Einfach weitersagen, wenn euch das ReliveRadio gefällt.</p>
	</div>
	<div class="large-3 columns">
		<%= render 'home/flattr_widget' %>
		<%= render 'home/chat_widget' %>
	</div>
</div>