<%= stylesheet_link_tag "info" %>
<div class="row">
	<div class="large-9 columns">
		<h1>Wie kann ich helfen?</h1>
		<p>Du möchtest dich in das Projekt einbringen? Super! \o/ An dieser Stelle werden Möglichkeiten aufgeführt, wie du das Projekt ReliveRadio unterstützen kannst.</p>

		<h2>Podcast einbringen</h2>

		<h4 class="subheader">Podcast einreichen</h4>
		<p>Wir sind immer auf der Suche nach tollen Podcasts. Melde dich doch einfach kurz per <a href="mailto:online@mschapdick.de">E-Mail</a> (bevorzugt), via <a href="https://alpha.app.net/bruellaffen" target="_blank">App.net</a> oder <a href="http://twitter.com/bruellaffen" target="_blank">Twitter</a> an uns.</p>
		<h4 class="subheader">Spread the message</h4>
		<p>Erzählt euren Hörern von den Projekt. Schreibt vielleicht sogar einen kleinen Artikel. <a href="http://blog.reliveradio.de/erwahnungen/" target="_blank">Hier könnt ihr sehen</a>, wo das ReliveRadio schon erwähnt wurde. Bei Fragen gerne einfach melden.</p>

		<h2>Hilfe bei der Programmierung</h2>

		<h4 class="subheader">ReliveRadio Seite</h4>
		<p>Auch in Zukunft werden sicherlich Wünsche zur Funktionserweiterung der Seite an uns herangetragen. Wir haben den Code der ReliveRadio Seite bei <a href="https://github.com/i42n/reliveradio-sendeplan-rails" target="_blank">Github</a> veröffentlicht. Dort kann direkt mitgeholfen werden. (Pull Request, Issues, Absprache mit Stefan). Info: Ruby on Rails, HTML, CSS</p>
		<h4 class="subheader">Neue Tools und eigene Ideen</h4>
		<p>Der Phantasie sind hier keine Grenzen gesetzt. Einfach loslegen, wenn du eine Idee hast. Hier einige konkrete Beispiele, wie wir das ReliveRadio für Hörer noch besser machen könnten.</p>
		<table>
			<tr>
				<td><strong>Idee</strong></td>
				<td><strong>Beschreibung</strong></td>
			</tr>
			<tr>
				<td>ADN Bot</td>
				<td>Sendungsankündigung auf App.net.</td>
			</tr>
			<tr>
				<td>IRC Bot</td>
				<td>Sensungsankündigung im #reliveradio IRC Channel auf freenode.</td>
			</tr>
			<tr>
				<td>Optimierung Metadaten</td>
				<td>Podcatcher oder Script, welches Informationen des Feeds in die Datei schreibt, sodass diese in der Radioautomation angezeigt werden.</td>
			</tr>
			<tr>
				<td>Deine Idee</td>
				<td>?</td>
			</tr>
		</table>

		<h2>Spenden zur Deckung der Serverkosten</h2>
		<p>Wir wurden nun mehrfach gefragt, ob es (neben dem Flattr Button) möglich ist, das Projekt auch finanziell zu unterstützen.</p>
		<p>Zum Betrieb des ReliveRadios haben wir einen Server mit viel Festplattenkapazität angemietet, da wir sämtliche Podcastfolgen lokal speichern, um sie dann auch später auf dem Stream abspielen zu können. Hinzu kommt ein kleiner Mini-Testserver, auf dem wir neue Funktionen testen können, bevor sie live geschaltet werden. Der Spaß kostet z.Z. voraussichtlich <span style="color: red">420-460 Euro im Jahr</span>. Wir spielen keine Werbung. Wer Lust hat, etwas zu spenden, hat folgende Möglichkeiten:</p>

		<div class="row">
			<div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title">Flattr</li>
					<li class="description">Du kannst uns hier flattrn. Wenn du möchtest kannst du auch noch einmal klicken und so ein Flattr-Abo aktivieren.</li>
					<li class="description">
						<a class="FlattrButton" style="display:none;"
						title="ReliveRadio"
						data-flattr-uid="germanstudent"
						data-flattr-tags="text, opensource"
						data-flattr-category="text"
						href="http://www.reliveradio.de">

						ReliveRadio
						</a></li>
				</ul>
			</div>
			<div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title">Sofortüberweisung</li>
					<li class="description">Wähle einen Betrag und klicke auf Spenden</li>
					<li class="price"><input id="sofortueberweisung_input" type="text" value="13,37 €" style="text-align: center;"></li>
					<li class="cta-button"><a class="button" id="sofortueberweisung_button">Spenden</a></li>
				</ul>
			</div>
			<div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title">Bitcoin</li>
					<li class="description">Wir freuen uns auch über Spenden via Bitcoin. Hier ist unsere Adresse.</li>
					<li class="bullet-item" style="word-break: break-all;">198h44RjB9WGZk4ZmoCoF4dhr9rfGgj5rs</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title">Affiliate Links</li>
					<li class="description">Du kaufst online ein und möchtest uns über Affiliate Links etwas spenden? <a href="http://metaebene.me/spenden/#aflattr">Hier steht wie es geht!</a> Als Flattr-Namen einfach <b>reliveradio</b> angeben.</li>
				</ul>
			</div>
			<div class="large-4 columns">
				<ul class="pricing-table">
					<li class="title">Andere?</li>
					<li class="description">Du würdest gerne eine andere Möglichkeit nutzen? <a href="mailto:mail@reliveradio.de">Kontaktiere uns!</a></li>
				</ul>
			</div>
			<div class="large-4 columns">
			</div>
		</div>

		<%= javascript_include_tag 'donation' %>

		<h2>Und sonst?</h2>
		<p>Einfach weitersagen, wenn euch das ReliveRadio gefällt.</p>
	</div>
	<div class="large-3 columns sidebar">
		<%= render 'widgets/chat_widget' %>
	</div>
</div>
