<footer>
	<div class="row">
		<div class="large-3 columns">
			<%= render "widgets/help_widget" %>
		</div>
		<div class="large-3 columns">
			<%= render "widgets/chat_widget" %>
		</div>
		<div class="large-3 columns">
			<h5>Links</h5>
			<ul type="square">
				<li><a href="https://twitter.com/relivemix"><i class="icon-twitter"></i> @ReliveMix</a></li>
				<li><a href="https://twitter.com/relivekultur"><i class="icon-twitter"></i> @ReliveKultur</a></li>
				<li><a href="https://twitter.com/relivetechnik"><i class="icon-twitter"></i> @ReliveTechnik</a></li>
				<li><%= link_to 'Intern', podcasts_path %></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<h5>Kontakt</h5>
			<ul type="square">
				<li><a href="mailto:mail@reliveradio.de"><i class="icon-envelope-alt"></i> mail@reliveradio.de</a></li>
				<li><a href="https://twitter.com/reliveradio"><i class="icon-twitter"></i> @ReliveRadio</a></li>
				<li><a href="https://alpha.app.net/reliveradio"><i class="icon-adn"></i> @ReliveRadio</a></li>
				<li><a href="http://blog.reliveradio.de/impressum/">Impressum</a></li>
			</ul>
		</div>
	</div>
</footer>
