<footer>
    <div class="row">
      <div class="large-6 columns">
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://blog.reliveradio.de/impressum/">Impressum</a></li>
        </ul>
      </div>
    </div>
</footer>