<footer>
	<div class="row">
		<div class="large-3 columns">
			<%= render "widgets/help_widget" %>
		</div>
		<div class="large-3 columns">
			<%= render "widgets/chat_widget" %>
		</div>
		<div class="large-3 columns">
			<h5>Links</h5>
			<ul type="square">
				<li><a href="">Link1</a></li>
				<li><a href="">Link1</a></li>
				<li><a href="">Link1</a></li>
				<li><a href="">Link1</a></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<h5>Kontakt</h5>
			<ul type="square">
				<li><a href="mailto:mail@reliveradio.de"><i class="icon-envelope-alt"></i> mail@reliveradio.de</a></li>
				<li><a href="https://twitter.com/reliveradio"><i class="icon-twitter"></i> @reliveradio</a></li>
				<li><a href="https://alpha.app.net/reliveradio">ADN @reliveradio</a></li>
			</ul>
		</div>
	</div>
</footer>